<!doctype html>
<html lang="en" data-framework="backbonejs">
<head>
	<meta charset="utf-8">
	<title>Backbone.js + RequireJS • TodoMVC</title>
	<link rel="stylesheet" href="/bower_components/todomvc-common/base.css">
	<script src="/bower_components/todomvc-common/base.js"></script>
</head>
