	<footer id="info">
		<p>Double-click to edit a todo</p>
		<p>Written by <a href="http://addyosmani.github.com/todomvc/">Addy Osmani</a></p>
		<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
	</footer>
	<script data-main="/js/main" src="/bower_components/requirejs/require.js"></script>
	</body>
</html>
